<ion-view view-title="List One" ng-controller="list1Ctrl">
<ion-content ion-content has-header has-footer>
    <!-- list1 and list1 items -->

    <ion-list>

      <ion-item ng-repeat="list1 in list1s track by $index" class="item item-checkbox item-button-right">

        <label class="checkbox">
          <input type="checkbox" ng-model="list1.done">
        </label>
        {{list1.text}}

        <button class="button button-clear trash" ng-click="archive()">
          <i class="ion-trash-b"></i>
        </button>

      </ion-item>

        

    
        
        
    </ion-list>

    </ion-content>
    
    
        <form name="myForm" data-ng-submit="addTodo()">
    <ion-footer-bar class="bar bar-footer item-input-inset">
      <label class="item-input-wrapper">
        <input name="myText" class="itemAdd" type="text" placeholder="Add Item" ng-model="todoText" ng-minlength="1" required>
      </label>
      <button ng-disabled="myForm.$invalid" class="button button-clear add">Add</button>

    </ion-footer-bar>
    </form>
    
</ion-view>

