/* Empty. Add your own CSS if you like */

.item-checkbox {
    padding-left: 0px;
}

.tabs-striped .tab-item {
    margin-top: 1px;
    font-size: 12px;
}

.tabs-striped .tab-item.tab-item-active, 
.tabs-striped > .tabs
{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.nav-bar-tabs-top.hide ~ .view-container .tabs-top .tabs{
    
  top: 35px !important;
}

.item-checkbox .checkbox{
    width: 300px;
    
}

.item-complex .item-content, .item-radio .item-content {
    position: relative;
    z-index: 2;
    padding: 16px 49px 16px 59px;
    border: none;
    background-color: #fff;
}